<ion-view view-title="国际酒店" id="overseas">

    <ion-content scroll="false">
        <ion-list class="list" id="overseas-list01">
            <div class="item item-icon-left item-icon-right" >
                <i class="icon ion-ios-arrow-back assertive"  ui-sref="tabs.server"></i>
                <p>国际酒店</p>
            </div>
        </ion-list>
        <ion-list class="list" id="overseas-list02">
            <ion-item class="item item-icon-right" on-tap="complain()">
                <h2 >投诉酒店/订单问题</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right" on-tap="complain()">
                <h2 >电话预定</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>