<ion-view view-title="欢迎"  id="enter-view" hide-nav-bar="true">
    <!--<ion-content>-->
        <!--<ion-nav-buttons >-->
            <button class="button button-clear button-calm" ui-sref="tabs.index" id="enter-btn" ng-show="isShow">立即体验</button>
        <!--</ion-nav-buttons>-->
        <ion-slide-box on-slide-changed="onSlideChanged()">
            <ion-slide>
                <div class="pic">
                    <img src="images/enter/1.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="pic">
                    <img src="images/enter/2.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="pic">
                    <img src="images/enter/enter.jpg">
                </div>
            </ion-slide>
        </ion-slide-box>
    <!--</ion-content>-->
</ion-view>