<ion-view view-title="客服中心" id="page4" class="">
    <ion-header-bar>
        <h2 class="title" id="title">客服中心</h2>
    </ion-header-bar>
    <ion-content  class=" ">

        <ion-list id="server-list9" class=" ">
                <ion-item class="item-avatar " id="server-list-item55" >
                    <img src="images/server/gn.jpg">
                    <h2>国内酒店</h2>
                </ion-item>
                <ion-list class=" " id="server-list-item">
                    <ion-item class="item-icon-right " >
                        <h2>到店无房</h2>
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>

                    <ion-item class="item-icon-right " id="suggest" >
                        <h2>投诉酒店/订单问题</h2>
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>

                    <ion-item class=" item-icon-right" >
                        <h2>电话预定</h2>
                        <i class="icon ion-ios-arrow-right"></i>

                    </ion-item>
                </ion-list>
                </ion-list>

         <ion-list id="server-list10">
            <ion-item class="item-avatar  item-icon-right " id="server-list-item57" ui-sref="overseas">
                <img src="images/server/gj.jpg">
                <h2>国际酒店</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right " id="server-list-item56">
                <img src="images/server/fj.jpg">
                <h2>国内机票</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right " id="server-list-item58">
                <img src="images/server/tg.jpg">
                <h2>团购产品</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right " id="server-list-item59">
                <img src="images/server/hc.jpg">
                <h2>火车票</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right " id="server-list-item61">
                <img src="images/server/qc.jpg">
                <h2>汽车票</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right " id="server-list-item62">
                <img src="images/server/sj.jpg">
                <h2>手机号修改</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>


        </ion-list>

    </ion-content>


</ion-view>