<div>
    <ion-list id="allOrder-list">
        <ion-item class="inland_hotel_order item item-icon-right">
            <p>国内酒店订单</p>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item item-icon-right">
            <p>国际酒店订单</p>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item item-icon-right">
            <p>团购订单</p>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="inland_plan_order item item-icon-right">
            <p>国内机票订单</p>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item item-icon-right">
            <p>火车票订单</p>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item item-icon-right">
            <p>汽车票订单</p>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>


    </ion-list>
</div>